body{
  background-image:url("https://i.pinimg.com/236x/3e/10/45/3e10459a7edb6c93480ec963fc800de4--iphone-wallpaper-flower-wallpaper.jpg");
  background-attachment: fixed;
  text-align: center;
  color:	#220082;
  font-size: 25px;
  font-stretch: semi-expanded;
  font-family: "Calibri"}

h1{
  font-size:35px;
  color:black;}

div{color:	#220082;}

h3 {color:purple;


}
